body{
  margin: 0;
  padding: 0;
}
div{
  overflow: visible;
  position: relative;
}
.cap{
  width: 500px;
  height: 800px;
  background-color: rgb(255, 193, 6);
  margin: 0 auto;
  border-radius: 100px 100px 200px 200px;
}

.pel{
  height: 200px;
  background-color: black;
  border-radius: 100px 100px 0px 0px;
}

.ulls{
  height: 100px;
  background-color:;
}

.ceies{
  height: 60px;
  background-color:;
}

.cella{
  width: 200px;
  height: 20px;
  background-color: brown;
  margin: 0 25px;
}

.esquerre{
  float: left;
  clear: left;
}

.dreta{
  float: right;
  clear: right;
}

.parpelles {
  height: 60px;
  background-color: ;
}

.parpella {
  width: 80px;
  height: 80px;
  background-color: tomato;
  margin: 0 75px;
}

.pestanyes{
  height: 25px;
  width: 100px;
  background-color: ;
  margin: 0 75px;
}
.pestanya{
  width: 80px;
  height: 40px;
  margin: 0;
  background-color: ;
  top: -80px;
  border-top: solid yellow 20px;
  border-bottom: solid yellow 20px;

}
